# Compiled python modules.
*.pyc

# Byte-compiled
_pycache__/
.cache/

# Poetry, setuptools, PyPI distribution artifacts.
/*.egg-info
.eggs/
build/
dist/
poetry.lock

# Tests
.pytest_cache/

# Type checking
.pytype/

# Common Python virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Mac
*.DS_Store

# PyCharm
.idea

# VS Code
.vscode

# emacs
*~
